<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/survivornet</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <property name="connection.pool_size">20</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!--    Echo all executed sql to stdout -->
        <property name="show_sql">true</property>

        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="se.survivor.net.models.User"/>
        <mapping class="se.survivor.net.models.Picture"/>
        <mapping class="se.survivor.net.models.Post"/>
        <mapping class="se.survivor.net.models.PostReaction"/>
        <mapping class="se.survivor.net.models.Comment"/>
        <mapping class="se.survivor.net.models.CommentLike"/>



    </session-factory>
</hibernate-configuration>